
/* for chatbot  */

.chatbot_container{
    height: 80px;
    width: 80px;
    float: right;
    position: fixed;
    bottom: 5px;
    right: 0;
    /* background-color: aqua; */
}

.chatbot_container img{
    height: 60px;
    width: 60px;
}

.chatbot_container p{
    color: rgb(6, 255, 68);
}

/* for whatsapp  */

/* .chatbot_container2{
    float: right;
    position: fixed;
    bottom: 150px;
    right: 0;
}

.chatbot_container2 img{
    border-radius: 10px;
    height: 50px;
    width: 50px;
} */