.Hero{
    padding-top: 5rem;
}

/*------------- Hero section styling start --------------*/
#home2 {
	background-image: linear-gradient(rgba(128, 75, 75, 0.3), rgba(105, 60, 60, 0.7)), url("../image/img5.jpg");
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 40px;
	color: white;
	font-size: large;
}

#home2 div span {
	color: white;
	font-size: 25px;
}

#home2 h2 {
	color: #fff;
	font-size: 2.2rem;
	letter-spacing: 1px;
}

#home2 p {
	width: 50%;
	color: #fff;
	font-size: 0.9rem;
	line-height: 25px;
}

#home2 .btn {
	margin-top: 30px;
}

#home2 a {
	text-decoration: none;
	font-size: 0.9rem;
	padding: 13px 35px;
	background-color: #fff;
	font-weight: 600;
	border-radius: 5px;
}

#home2 a.blue {
	color: #fff;
	background: rgb(21, 21, 100);
	transition: 0.3s ease;
}

#home2 a.blue:hover {
	color: rgb(21, 21, 100);
	background: #fff;
}

#home2 a.yellow {
	color: #fff;
	background: #ff9900;
	transition: 0.3s ease;
}

#home2 a.yellow:hover {
	color: rgb(21, 21, 100);
	background: #fff;
}

/*------------- Hero section styling end --------------*/